{% extends "base.html" %}

{% block title %}Contraseña restablecida - Mi Parnaso{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title mb-4">Contraseña restablecida</h2>
                <p>Tu contraseña ha sido restablecida correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
