{% extends "base.html" %}

{% block title %}Correo enviado - Mi Parnaso{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title mb-4">Correo enviado</h2>
                <p>Te hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña. Deberías recibirlo en breve.</p>
                <p>Si no recibes el correo, por favor comprueba tu carpeta de spam o asegúrate de haber introducido el correo electrónico con el que te registraste.</p>
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Volver al login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
