{% extends "base.html" %}

{% block title %}Restablecer contraseña - Mi Parnaso{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Restablecer contraseña</h2>
                <p>Introduce tu dirección de correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Enviar correo de restablecimiento</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
